.presets .p1{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQIHV3KwQ0AMAjDwLr775zWPBAiz4tJcuaA3A0/otFCMCqcIPp0IbgHG/8UBdv1r0YAAAAASUVORK5CYII=);
}
.presets .p2{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMElEQVQIHV2LQQ4AIAjDrP//86RojJELrHQkGe8AmT8oiQs1BC2dusDc24/HNirYWPVPG/q+GbpQAAAAAElFTkSuQmCC);	
}
.presets .p3{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAXUlEQVQYGV1OgQ3AIAwi+8K90Tf8yae8aW90oNGgJKikQgGAyEyIRCOL6T0IDW1QqCkTDx9CJft4zePj9S7tTiUNp9yEkq6ddyf76c7daXU4djL16ORO7WxKFYn4ASeiVnkhHP4+AAAAAElFTkSuQmCC);
}
.presets .p4{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAS0lEQVQYGY2P0QoAIAgDW///z+aCwZSEejHWdUxExPIDIKOAZ7xvDwRxel5AQQxp7PA1OiRTh9nl2UkfJGFzZeMk/AXSULYelflwAPHTKwUaIRJKAAAAAElFTkSuQmCC);
}
.presets .p5{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIHWNkYGD4DwSMQBoMGIEcGBtMM8F4jIyMYBkMFQDP0wr/yEGXyAAAAABJRU5ErkJggg==);
}
.presets .p6{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQElEQVQYGYWN0QoAIAgDXf//zyuFYpS0PYjCeQPJcBkOAMAvlMBKTSeL1pQG/XygXaFQlurd7sd0VyhdUFeh0ASVyhgNX7hU5AAAAABJRU5ErkJggg==);
}
.presets .p7{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXElEQVQYGY1QgQ3AIAgre2n/n7CbGBjLqs5sJgQsLSUAwOnuYOT/FSMhsxK0bj0S58YiXIDJmgOsF1dkmFnuVy+GFH4U+lX8tR7OkiKNMKnT7RtC6q6PimvoJGI3d5+0V1erbhoAAAAASUVORK5CYII=);
}
.presets .c1{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIElEQVQIHWNMrLzlw4ADsIDE57WpbsEmz4RNECY2EJIA5doEDY8lKVEAAAAASUVORK5CYII=);
}
.presets .c2{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAT0lEQVQYGWO0O3X+PwMQHDQ1YATRuAATLgl0ccb//8EGoog/vGkPFpRXPwi3hTITUYyHchgrztuBrWk3QFiDTSFlVn+eFQ+2hTdtIQ09AwBHuBv9+zhQ6wAAAABJRU5ErkJggg==);
}
.presets .c3{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXElEQVQYGWP4//8/Awg3HfIDUhC2cea1/9/f6qHwiVIEMoCgSTBbwCaCONisgykCOQuskJAisNXEKAIrRPcdsnUwNsgwFDfCJNCD6u2zKIQb8SkCyYF9S0gRSB4AIhgc1fimv4QAAAAASUVORK5CYII=);
}
.presets .heart{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAmElEQVQYGWP8//8/AzGACabolum2/yAM44NoZDEWmIBcrj5YDUhS7bQXI4hGFmMEW213E27SjxQeBo45XxhgNFg3kIAoZDsFVwiS+NYnwcBV9AKmBkxDFAKZH5WPoChGVsV/14YRrhAkcUcX1TMgMZXLXowgGkUhSGCfyQK4yU5nEsCKQOIMIM+g473G84FCqOIYJoJ1YyEAGOpkIR38VIcAAAAASUVORK5CYII=);
}
.presets .waves{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAASUlEQVQIHWNUcdj8nwEInjx9xiAjLQViggETiAQJlu8KB9MQYQYGJpjgxgsnUCQZvY/e/v/01V2GG2UPGTS65BmkxZQZTKREGQDmjCAH9WVM7gAAAABJRU5ErkJggg==);
}
.presets .smiley{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAd0lEQVQYGY2Q2w2AMAwDyRJM1S3ZjgX4DL5Ql5eQqGSlNGdHITJz+nUALRmahNNqozcuHcptSasbCq40JxWw6smSybDBI0UADUBXzNyD0REqqz4/TsxqAFZxCrsxWvX6brC29UiAG8Sir61J6+qGc+sn7ETV8R934X+pDFq0JiAAAAAASUVORK5CYII=);
}
.presets .invaders{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAZ0lEQVQYGWP4//8/Awj78F8EUhA2jEYWYwQJwoCvwCUEByi4+YMeI0yOCcZAVwQSRxYDK4QJIJsAY8Pk4CaimwBTALMR7glkh6N7BiSHYiJcNzYGTDeIRjYVmQ2SQwkebAbBxIi2GgCgs23VwX16HQAAAABJRU5ErkJggg==);
}
.presets .flag{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgklEQVQYGWP8//8/AzGABaSIkZERrhqokRGbRhaQotcdtnA5EB+bYpBuuMSbTjuwyaIVh+EaQQyQRhSFIEGYYhAbBECa4Ao1N+tBRKHkNZ+LcHfCnAI2EVkVTBNMMUwh2NfIjgdJgBRrbdGHhwTIILBCZBPB7sESXBgKQZqQbYAZAgBPJkTPNNn5NAAAAABJRU5ErkJggg==);
}
.presets .note{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWElEQVQYGWP8//8/AzGABVmResklrLpu9ugxMiErxMdGMRGkEKQbWQPMFqJNJFoh2GqL6hNQT3DBbUUXY4IJvP+JqQhZDGw1sgDMSHQxRlCAw3yG7GN0MQADsSfXcJCwTAAAAABJRU5ErkJggg==);
}
.presets .sunflower{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAk0lEQVQYGWP00hP976DMzXDg7lcGfDQLTHLOjk8MDAyfGGKAZIoHA4YmRpCJEEVAFUggxYMPRTETyEQYSHTmgDFRFIGcxQQiYGD+3h8wJoabwSaCrEEG6NaCDAO7EeahR8lMDHJz/2FYC5IHmwgLGpCpIMFFDt8ZQJpg4iAa7EaYiSCFIEUwABPHaiJMUdwBThQTAXS5bLLilT4KAAAAAElFTkSuQmCC);}
.presets .punisher{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWElEQVQYGYWOCwrAIAxDq+z+V9ZmW0JaBAXt7/l0RMTKfV1PI4bVRTBt4BDapSaIZjH8tWCCMGARZvy6efofdTv7nr8wjW445gT1xMmGYQdpY5Sggxr0ZAMGbAsVpVDj7QAAAABJRU5ErkJggg==);
}
.presets .forrst{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAZUlEQVQYGWMUzlP9z4AErCMZGI4uRxKAMpmQhUCKQABGQ3gQEkUhsgQ6G64Q3RR0PlwhugnofLBCdN0wRcjiGCaaT3oBU4dCMyHrQpGBcmDyLOhhZg5UgC4G0oNhdZ+oBNQsVAoAuYwN1ogo6tcAAAAASUVORK5CYII=);	
}